
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand candy">
  <%= link_to "CANDYMANDY", root_path %>
  </div>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-left">
      <li class="nav-item active">
        <%= link_to "CREATE ARTİCLE", new_article_path %>
      </li>     
    </ul>    
  </div>
  <div class="navbar-right mr-3">
  <div class="login">
  <%= link_to "Login", register_path %>
  <%= link_to "Signup", register_path %>
  <% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", logout_path %>
<% else %>
  <%= link_to "Sign Up", signup_path %> or
  <%= link_to "Log In", login_path %>
<% end %>

  </div>
  </div>
</nav>