
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand candy">
  <%= link_to "CANDYMANDY", root_path %>
  </div>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-left">
      <li class="nav-item active">
        <%= link_to "CREATE ARTİCLE", new_article_path %>
      </li>     
    </ul>    
  </div>
  <div class="navbar-right mr-3">
  <div class="login">
  <% if user_signed_in? %>
  <%= link_to "LOGOUT", destroy_user_session_path, method: :delete %>
  |
  <%= link_to "EDİT", edit_user_registration_path %>
  <% else %>
  <%= link_to "LOGİN", user_session_path%>
  |
  <%= link_to "SİGNUP", new_user_registration_path %>

  <% end %>

  </div>
  </div>
</nav>