
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand">
  <%= link_to "CANDYMANDY", root_path %>
  </div>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-left">
      <li class="nav-item active">
        <%= link_to "CREATE ARTİCLE", new_article_path %>
      </li>     
    </ul>    
  </div>
  <div class="navbar-right">
  <div class="login">
  <%= link_to "LOGİN", user_session_path%>
  |
  
  <%= link_to "REGİSTER", new_user_registration_path %>
  </div>
  </div>
</nav>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
