<%= render 'header' %>

<ul>
<% @articles.each do |article| %>
<li>
<strong><%= article.title %></strong>
<%= article.text %>
<%= article.author_id %>
</li>
<% end %>
</ul>
<%= link_to "Edit", edit_article_path(:id), class: "button" %>
<%= render 'footer' %>



